BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
SortIncludes: false
AccessModifierOffset: -4
Standard: Cpp11
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true
ReflowComments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
