---
---

/* modify Bootstrap variables here */

$primary: #09a8ff;

@import "bootstrap/bootstrap";

/* add additional CSS rules below */

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i");

body {
  font-family: Lato, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.jumbotron {
  background: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.features {
  padding-top: 1em;
}

.feature {
  padding-top: 1em;
  padding-bottom: 2rem;
  letter-spacing: 0.1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h5 {
  font-weight: normal;
  font-style: italic;
}

pre {
  margin: 1.625em 0;
  color: #020202;
  background-color: #efefef;
  overflow-x: auto;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0.2em;
}

pre code {
  overflow-wrap: normal;
  white-space: pre;
  background-color: #efefef;
}

.page {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.content {
  .container {
    background: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.25em;
}

.post-date {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #595959;
}
