/* variable overrides */
html {
  --side-nav-arrow-opacity: 1;
  --side-nav-arrow-hover-opacity: 1;
}

/* github corner icon styles */
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.github-corner img {
  width: 55px;
  height: 55px;
}

/* nav-tree arrows */
#nav-tree .arrow {
  margin-left: 10px;
}

.arrow {
  color: var(--primary-color);
  font-size: 80%;
  font-family: var(--font-family);
  text-align: left;
}

/* hide nav-sync icon */
#nav-sync {
  visibility: hidden;
}

/* page title larger than section heading */
div.header .title {
  font-size: 2.25em;
}

/* centered copyright footer */
#nav-path address {
  border-top: 1px solid var(--separator-color);
  border-bottom: 1px solid var(--separator-color);
  background-color: var(--page-background-color);
  color: var(--page-secondary-foreground-color);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: small;
  text-align: center;
}

/* fix appearance of numbers in citation list */
dl.citelist dt {
  font-weight: normal;
  font-size: var(--page-font-size);
  line-height: var(--content-line-height);
  color: var(--page-foreground-color);
  padding-top: 0.4em;
}