body, table, div, p, dl
{
    font: 400 14px/22px LatoLatinWeb;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.textblock h2 {
  margin-top: 1.75rem;
}

.textblock h3 {
  margin-top: 1.75rem;
  font-style: italic;
}

#nav-sync
{
    visibility: hidden;
}

#projectname
{
    visibility: hidden;
}

#projectlogo img
{
    border: 0px none;
    margin: 10px;
    height: 55px;
}

#footer hr
{
    margin: 0;
    padding: 0;
}

#footer address
{
    border-top: 2px solid #09a8ff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: normal;
    text-align: center;
}

div.header
{
    background-image:none;
    background-color: #ffffff;
    margin:  0px;
    margin-left: 12px;
    border-bottom: none;
}

#nav-tree
{
    background-image:none;
    background-color: #ffffff;
    -webkit-overflow-scrolling : touch; /* iOS 5+ */
    margin: 0;
}

div.contents {
	margin-top: 10px;
    margin-left: 24px;
	margin-right: 8px;
    width: 60em;
}

.ui-resizable-e {
  background-image:url("splitbar.png");
  background-size:2px;
  background-repeat: repeat-y;
  background-attachment: scroll;
  cursor:ew-resize;
  height:100%;
  right:0;
  top:0;
  width:2px;
}

#titlearea
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 2px solid #09a8ff;
}

.title {
	font: 400 14px/28px LatoLatinWeb;
	font-size: 175%;
	font-weight: normal;
	margin: 10px 2px 0px 2px;
}

#MSearchBox {
    white-space : nowrap;
    position: absolute;
    float: none;
    display: inline;
    right: 35px;
    z-index: 102;
    background-color: white;
}

.gh-corner img {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
}

#nav-tree .selected {
  background-image: none;
  background-repeat: no-repeat;
  background: #09a8ff;
  color: #fff;
  text-shadow: none;
}

#nav-tree .selected .arrow {
    color: #ffffff;
}

#side-nav {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    left: 0px;
    width: 200px;
}

#nav-tree .arrow {
    margin-left: 3px;
}

#nav-tree .label {
    font: 12px LatoLatinWeb;
}

.arrow {
    color: #09a8ff;
}

div.fragment {
    padding: 0.5rem;
}

pre.fragment {
    font-family: inconsolataregular;
    font-size: 110%;
}

div.line {
    font-family: inconsolataregular;
    font-size: 110%;
    line-height: 1.1rem;
}

code {
    font-family: inconsolataregular;
    font-size: 110%;
}

.overload {
    font-family: LatoLatinWeb;
}

table.directory {
    font: 400 14px LatoLatinWeb;
}

.entry, .memitem, .memItemLeft, .memItemRight
{
    font-family: inconsolataregular;
    font-size: 110%;
}

a.el {
    font-family: inconsolataregular;
    font-weight: normal;
    font-size: 110%;
}

table.doxtable th {
    font-weight: normal;
}

.caption {
    font-weight: normal;
    font-style: italic;
}

.memtitle, table.memname {
    font-family: inconsolataregular;
    font-weight: normal;
    font-size: 110%;
}

div.groupHeader {
    font-size: 125%
    font-style: normal;
    font-weight: normal;
    color: #02517C;
    margin-left: 0;
}

table.doxtable {
    border: 1.5px solid black;
    border-left: none;
    border-right: none;
}

table.doxtable th {
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    color: black;
    background-color: white;
    text-align: left;
}

table.doxtable td {
    border: none;
}
